body{
	background-image: url(fotos/fondot.jpg);
	background-size: cover;
}
.a{
position: absolute;
top:10px;
font-family: 'Bangers', cursive;
font-family: 'Original Surfer', cursive;
left:500px;
color:#520000;
}
.p{
position: absolute;
top: 40px;
left: 210px;
font-family: 'Original Surfer', cursive;
color:#ABA2A2;
}
.boton1
{
position: absolute;
background-image: url(fotos/1.png);
border:#920202 10px double;
top: 160px;
left:100px;
width:250px;
height:80px;
}
.boton2
{
position: absolute;
background-image: url(fotos/2.png);
border:#920202 10px double;
top: 160px;
left:390px;
width:250px;
height:80px;
}
.boton3
{
position: absolute;
background-image: url(fotos/3.png);
border:#920202 10px double;
top: 160px;
left:690px;
width:250px;
height:80px;
}
.boton4
{
position: absolute;
background-image: url(fotos/4.png);
border:#920202 10px double;
top: 160px;
left:990px;
width:250px;
height:80px;
}
.boton5
{
position: absolute;
background-image: url(fotos/5.png);
border:#920202 10px double;
top: 360px;
left:100px;
width:250px;
height:80px;
}
.boton6
{
position: absolute;
background-image: url(fotos/6.png);
border:#920202 10px double;
top: 360px;
left:390px;
width:250px;
height:80px;
}
.parcial
{
position: absolute;
background-image: url(fotos/7.png);
border:#920202 10px double;
top: 360px;
left:690px;
width:250px;
height:80px;
}
.final
{
position: absolute;
background-image: url(fotos/8.png);
border:#920202 10px double;
top: 360px;
left:990px;
width:250px;
height:80px;
}
